<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - crmEmpresa</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/crmEmpresa.styles.css" asp-append-version="true" />
    <link href="~/css/StyleMenu.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/Layout.css">

</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div id="inicio-icon">
                <svg data-feather="grid"></svg>
            </div>

            <nav id="sidebar" class="sidebar">
                <div class="position-sticky pt-3">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/Index">
                                <span data-feather="home"></span> INICIO
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="~/Clientes/Index">
                                <span data-feather="user"></span> CLIENTES
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="~/Tratamientos/Index">
                                <span data-feather="droplet"></span> TRATAMIENTOS
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="~/Promociones/Index">
                                <span data-feather="dollar-sign"></span> PROMOCIONES
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="~/Citas/Index">
                                <span data-feather="phone"></span> CITAS
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="~/Cursos/Index">
                                <span data-feather="users"></span> CURSOS
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="~/Inscripciones/Index">
                                <span data-feather="file"></span> INSCRIPCIONES
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>

            <main id="main-content" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
                <div class="title-container">
                    <h1 class="h2 text-center">@ViewData["Title"]</h1>
                </div>

                @RenderBody()
            </main>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.28.0/feather.min.js"></script>
    <script>
        feather.replace();

        const sidebar = document.getElementById('sidebar');
        const inicioIcon = document.getElementById('inicio-icon');
        const mainContent = document.getElementById('main-content');

        inicioIcon.addEventListener('click', () => {
            sidebar.classList.toggle('active');

            if (sidebar.classList.contains('active')) {
                mainContent.style.marginLeft = "250px";
                mainContent.style.width = "calc(100% - 250px)";
            } else {
                mainContent.style.marginLeft = "0";
                mainContent.style.width = "100%";
            }
        });
    </script>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
